/* loginページ専用のスタイル */

h2 {
    color: #2c3e50;
    font-size: 2em;
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: center;
}

h3 {
    margin-bottom: 15px;
    text-align: center;
}

main p {
    font-size: 1.1em;
    color: #555;
    text-align: center;
}

/* リンクのスタイル */
main a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
}

main a:hover {
    text-decoration: underline;
}



form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

form label {
    display: block;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
    text-align: left;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

.features-section {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
}