{% extends "base.html" %}

{% block title %}ホームページ{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
    <h2>ようこそ！</h2>
    <p>このシステムは、あなたの空き時間を簡単に検索し、メールの返信作成をサポートするためのツールです。目的に合わせて、以下の機能をお使いください。</p>
    
    <div class="btn-container">
        <a href="{{ url_for('calendar.free_times') }}">空き時間検索</a>
        <a href="{{ url_for('reply.get_reply') }}">返信メール作成</a>
    </div>

    <h3>Googleカレンダーの連携について</h3>
    <p>このシステムはGoogleカレンダーから予定を取得しているため、Googleアカウントでのログインが必要となります。Googleカレンダーへのアクセスを許可してくださいますようお願いいたします。</p>

    <!-- Googleログインボタン -->
    <div class="btn-container">
        <a href="{{ url_for('auth.login_google') }}" class="google-login-btn">Googleでログイン</a>
    </div>

    <!-- プロフィールセクション -->
    <section class="profile-section">
        <h3>制作者プロフィール</h3>
        <div class="profile-container">
            <div class="profile-photo">
                <img src="{{ url_for('static', filename='images/profile.jpg') }}" alt="茂治孝典の写真">
            </div>
            <div class="profile-info">
                <p>茂治孝典</p>
                <p>同志社大学理工学部インテリジェント情報工学科</p>
                <p><a href="mailto:cguh0033@mail4.doshisha.ac.jp">cguh0033@mail4.doshisha.ac.jp</a></p>
                <h4>各種アカウント</h4>
                <p>GitHub: <a href="https://github.com/mojitakanori">https://github.com/mojitakanori</a></p>
                <p>Zenn: <a href="https://zenn.dev/mojitakanori">https://zenn.dev/mojitakanori</a></p>
            </div>
        </div>
    </section>
{% endblock %}
