{% extends "base.html" %}

{% block title %}ログイン{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}
    <h2>ログイン</h2>
    <form method="POST" action="{{ url_for('auth.login') }}">
        <label for="username">ユーザー名:</label>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">パスワード:</label>
        <input type="password" id="password" name="password" required><br><br>

        <button type="submit">ログイン</button>
    </form>

    <div class="features-section">
        <h3>このWEBアプリの機能まとめ</h3>
        <p>機能・パスワードをまとめたものはこちら: 
            <a href="https://zenn.dev/mojitakanori/articles/653179e9f4a429" target="_blank">機能説明ページ</a>
        </p>
    </div>
{% endblock %}
